strict-peer-dependencies=false
shamefully-hoist=true

@ozzcar11:registry=https://gitlab.ozzcar11.ru/api/v4/projects/447/packages/npm/
//gitlab.ozzcar11.ru/api/v4/projects/447/packages/npm/:_authToken="${NPM_TOKEN}"
